<div class="container mt-4">
  <h1>My Certifications</h1>
  <div class="row">
    <div class="col-3" *ngFor="let cert of certifications">
      <div class="card my-3">
        <img [src]="cert.logo" class="card-img-top" alt="{{ cert.title }}" />
        <div class="card-body">
          <h5 class="card-title">{{ cert.title }}</h5>
          <a [href]="cert.link" class="btn btn-primary" target="_blank"
            >View Certification</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
