<footer class="footer mt-auto py-3 bg-dark">
  <div class="container">
    <div class="row text-light">
      <!-- Contact Info -->
      <div class="col-lg-4 col-md-4 col-sm-12">
        <h5>Contact</h5>
        <ul class="list-unstyled">
          <li>
            <a href="mailto:mohamedsorour1998@gmail.com" class="text-light"
              >mohamedsorour1998@gmail.com</a
            >
          </li>
          <li>
            <a href="tel:+201112310110" class="text-light">+20 111 23 10 110</a>
          </li>
        </ul>
      </div>

      <!-- Location Info -->
      <div class="col-lg-4 col-md-4 col-sm-12">
        <h5>Location</h5>
        <ul class="list-unstyled">
          <li>5th Settlement</li>
          <li>Cairo, Egypt</li>
        </ul>
      </div>

      <!-- Social Media Links -->
      <div class="col-lg-4 col-md-4 col-sm-12">
        <h5>Social</h5>
        <ul class="list-unstyled">
          <li>
            <i class="fab fa-linkedin"></i>
            <a
              href="https://www.linkedin.com/in/mohamedsorour1998/"
              class="text-light px-2"
              >LinkedIn</a
            >
          </li>
          <li>
            <i class="fab fa-twitter"></i>
            <a
              href="https://twitter.com/MohamedSorour98/"
              class="text-light px-2"
              >Twitter</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
