<footer class="footer mt-auto py-3 bg-dark">
  <div class="container">
    <div class="row text-light">
      <!-- Contact Info -->
      <div class="col-md-4">
        <h5>Contact</h5>
        <ul class="list-unstyled">
          <li>
            <a href="mailto:yourmail@example.com" class="text-light"
              >yourmail@example.com</a
            >
          </li>
          <li><a href="tel:+1234567890" class="text-light">+1234567890</a></li>
        </ul>
      </div>

      <!-- Location Info -->
      <div class="col-md-4">
        <h5>Location</h5>
        <ul class="list-unstyled">
          <li>123 Street</li>
          <li>City, Country</li>
        </ul>
      </div>

      <!-- Social Media Links -->
      <div class="col-md-4">
        <h5>Social</h5>
        <ul class="list-unstyled">
          <li>
            <a href="https://www.facebook.com/" class="text-light">Facebook</a>
          </li>
          <li>
            <a href="https://www.twitter.com/" class="text-light">Twitter</a>
          </li>
          <li>
            <a href="https://www.linkedin.com/" class="text-light">LinkedIn</a>
          </li>
          <li>
            <a href="https://www.instagram.com/" class="text-light"
              >Instagram</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
