<div class="container">
  <h1>My Experience</h1>
  <div *ngFor="let exp of experiences">
    <div class="row mb-3 align-items-center">
      <div class="col-lg-2 col-md-3 col-sm-2">
        <img [src]="exp.logo" alt="{{ exp.company }} Logo" class="img-fluid" />
      </div>
      <div class="col-lg-10 col-md-9 col-sm-10">
        <h3>{{ exp.role }} - {{ exp.company }}</h3>
        <p>
          <strong>{{ exp.period }}</strong
          >, {{ exp.employmentType }} - {{ exp.location }}
        </p>
        <ul>
          <li *ngFor="let detail of exp.details">{{ detail }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
