<div class="container my-4">
  <h2>About Me</h2>
  <p>{{ aboutText }}</p>
  <h2>Skills</h2>
  <div class="row">
    <div class="col-6">
      <ul class="list-group">
        <ng-container *ngFor="let skill of skills; let i = index">
          <li class="list-group-item" *ngIf="i < skills.length / 2">
            {{ skill }}
          </li>
        </ng-container>
      </ul>
    </div>
    <div class="col-6">
      <ul class="list-group">
        <ng-container *ngFor="let skill of skills; let i = index">
          <li class="list-group-item" *ngIf="i >= skills.length / 2">
            {{ skill }}
          </li>
        </ng-container>
      </ul>
    </div>
  </div>
</div>
