.container {
  background-color: #f0f0f0; /* Light grey background for the section */
  border-radius: 8px; /* Rounded corners for the container */
  padding: 20px;
}
img {
  min-height: 5rem;
  max-height: 5rem; /* Ensures the icons are not too large */
  min-width: 10rem;
  max-width: 10rem;
}
