<section id="header">
  <app-header></app-header>
  <!-- Header -->
</section>

<section id="home">
  <app-home></app-home>
  <!-- Home Component -->
</section>

<section id="about">
  <app-about></app-about>
  <!-- About Component -->
</section>

<section id="certs">
  <app-certs></app-certs>
  <!-- Certs Component -->
</section>

<section id="projects">
  <app-projects></app-projects>
  <!-- Projects Component -->
</section>

<section id="footer">
  <app-footer></app-footer>
  <!-- footer Component -->
</section>
