<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#" (click)="scrollToElement('home')"
      >SOROUR.WORKS</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#" (click)="scrollToElement('home')"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <div
            class="nav-link mr-3 cursor-pointer"
            (click)="scrollToElement('about')"
          >
            About
          </div>
        </li>
        <li class="nav-item">
          <div
            class="nav-link cursor-pointer"
            (click)="scrollToElement('experience')"
          >
            Experience
          </div>
        </li>
        <li class="nav-item">
          <div
            class="nav-link cursor-pointer"
            (click)="scrollToElement('education')"
          >
            Education
          </div>
        </li>
        <li class="nav-item">
          <div
            class="nav-link cursor-pointer"
            (click)="scrollToElement('certs')"
          >
            Certificates
          </div>
        </li>
        <li class="nav-item">
          <div
            class="nav-link cursor-pointer"
            (click)="scrollToElement('projects')"
          >
            Projects
          </div>
        </li>
        <li class="nav-item">
          <div
            class="nav-link cursor-pointer"
            (click)="scrollToElement('footer')"
          >
            Contact Me
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
