<div class="d-block mt-5" href="#" style="overflow: hidden">
  <img
    src="assets/banner.svg"
    alt="Banner"
    class="img-fluid"
    style="max-height: 14rem"
  />
</div>
<div class="container jumbotron text-center mt-4">
  <h1 class="display-4">Welcome to Mohamed Sorour's Cloud DevOps Portfolio!</h1>
  <p class="lead">
    Junior DevOps Engineer specialized in cloud migration and container
    orchestration.
  </p>
  <p>
    Proficient with a variety of modern technologies including Docker,
    Kubernetes, Jenkins, AWS, and more.
  </p>
  <!-- <hr class="my-4" /> -->
  <a
    class="btn btn-primary btn-lg"
    href="https://app.flowcv.com/api/public/download_resume?token=9umptklim1"
  >
    Download My Latest CV</a
  >
</div>
