<div class="container jumbotron text-center mt-4">
  <div class="d-block general-extra-spacing" style="overflow: hidden">
    <img
      src="assets/banner.svg"
      alt="Banner"
      class="img-fluid"
      style="max-height: 14rem"
    />
  </div>
  <div class="row align-items-center">
    <div class="col-lg-8 col-md-6 col-sm-11">
      <h1 class="display-4">
        Welcome to Mohamed Sorour's Cloud DevOps Portfolio!
      </h1>
      <p class="lead">
        Experienced DevOps Engineer specialized in cloud migration and container
        orchestration.
      </p>
      <p>
        Proficient with a variety of modern technologies including Docker,
        Kubernetes, Jenkins, AWS, and more.
      </p>
      <a
        class="btn btn-primary btn-lg"
        href="https://app.flowcv.com/api/public/download_resume?token=9umptklim1"
      >
        Download My Latest CV
      </a>
    </div>
    <div
      class="badge-base LI-profile-badge col-lg-4 col-md-4 col-sm-12 mt-sm-5 extra-spacing"
      data-locale="en_US"
      data-size="large"
      data-theme="dark"
      data-type="HORIZONTAL"
      data-vanity="mohamedsorour1998"
      data-version="v1"
    ></div>
  </div>
</div>
